@model WebApplication9.Models.ContactInfo;
<h2>Add Contact</h2>
<hr />

<form method="post">
    <input asp-for="FirstName" placeholder="First Name" />
    <input asp-for="LastName" placeholder="Last Name" />
    <input asp-for="EmailId" placeholder="Email" />
    <input asp-for="MobileNo" placeholder="Mobile" />
    <input asp-for="Designation" placeholder="Designation" />

    <select asp-for="CompanyId">
        <option value="">Select Company</option>
        @foreach (var c in ViewBag.Companies)
        {
            <option value="@c.CompanyId">@c.CompanyName</option>
        }
    </select>

    <select asp-for="DepartmentId">
        <option value="">Select Department</option>
        @foreach (var d in ViewBag.Departments)
        {
            <option value="@d.DepartmentId">@d.DepartmentName</option>
        }
    </select>

    <button type="submit">Save</button>
</form>

