﻿@using WebApplication1.Models
@model List<Products>

<h1 class="display-5">Employee Controller - Index</h1>

<table border="1" cellpadding="10" cellspacing="0" class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Product Name</th>
            <th>Product Price</th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (Products item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProName</td>
                <td>@item.Price</td>
                <td><a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary ms-2">View Details</a></td>
                
            </tr>
        }
    </tbody>
</table>
