
@{
    ViewBag.Title = "Product Entry";
    var products = ViewBag.Products as List<WebApplication3.Models.Product>;

}

<h2>Product Entry</h2>

<form method ="post" action="/product/add">
    <div>
        <label>Product Name:</label>
        <input type="text" name="ProductName" required />
    </div>
    <br/>
    <div>
        <label>Price:</label>
        <input type="text" name="Price" required />
    </div>
    <br/>
    <div>
        <label>Quantity:</label>
        <input type="number" name="Quantity" required />
    </div>
    <br/>
    <button type="submit">Add Product</button>
    
</form>

<hr/>
<h3>Product List</h3>
@if (products != null && products.Count >0)
{
    <table border="1" cellpadding="10" cellspacing="0" class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        @foreach (var item in products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                
            </tr>
        }
    </table>
}
else
{
    <p>No products added yet.</p>
}
