﻿@using WebApplication1.Models﻿
@model WebApplication1.Models.Products



    <h2>Product Details</h2>
<div>
    Product Id : @Model.ProductId  <br />
    Product Name : @Model.ProName <br />
    Product Price : @Model.Price  <br />
    <a asp-controller="Pro" asp-action="Index">Back</a>
</div>
  
