@model WebApplication7.Models.Movie

<h2>Add New Movie</h2>

<form action="/Movies/Create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input name="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input name="Genre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input name="Price" type="number" step="0.01" class="form-control" />
    </div>
    <div class="form-group">
        <label>Rating</label>
        <input name="Rating" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Save Movie</button>
</form>

