<section background-color="pink">
<h1 class="display-4"> This is the About page </h1>

    <div class="text-center">
        <p>
        This is the text paragraph. This is the text paragraph.This is the text paragraph.This is the text paragraph.This is the text paragraph.
        This is the text paragraph.This is the text paragraph.This is the text paragraph.This is the text paragraph.This is the text paragraph.
        This is the text paragraph.This is the text paragraph.This is the text paragraph.This is the text paragraph.This is the text paragraph.
        </p>
    </div>
</section>
