body h1{
    background-color: blueviolet;
    display: block;
    font-family: fantasy;
}
body h2{
    background-color: aqua;
    display:inline;
    border: 20px;
    border-radius: 10;
}
.box{
    background-color: lightblue;
    padding:"20px";
    margin:"50px";
    border:3px solid bliue;
    margin-bottom: 30px;

}
